{% extends "_core.html" %}

{% block title %}Room{% end %}

{% block scripts %}
<script type="text/javascript">
	var _user_email = "{{ user_email }}";
	var _user_token = "{{ user_token }}";
</script>
<script type="text/javascript" src="/static/js/room.js"></script>
{% end %}

{% block body %}
<div>
	<video id="video-player">
        <source src="{{video_url}}" type="video/mp4" />
	</video>
    <div id="video-controls">
        <button id="video-play">Play</button>
        <button id="video-pause">Pause</button>
    </div>
</div>
<div id="chat-container" class="container">
	<div id="chat-display">
		<div id="chat-window" class="span10">
		</div>
		<div id="roll-call-window" class="span2">
		</div>
	</div>
	<div id="chat-input">
		<form id="socket_form">
			<input type="text" id="socket_input" />
			<input type="submit" value="Send" />
			<input type="button" id="close_socket" value="Close Socket" />
		</form>
	</div>
    <div id="source-url-input">
		<form id="source_url_form">
			<input type="text" id="source_url_input" />
			<input type="submit" value="Set Source" />
		</form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready( function () {
        var location = "ws://" + window.location.host + "/room/" + {{room_id}} + "/socket";
        console.log('executing handler init');
        initSocketHandlers(location);
    });
</script>

{% end %}
